<%= link_to "Create Board" , new_board_path %>
<table>
<tr>
	<td>id</td>
		<td>Join</td>
		</tr>
		<% @boards.each do |p| %>
		<tr>
			<td><%= p.id %></td>
		<td><%= link_to "Join table", p %></td>
	</tr>
	<%end%>
</table>
